body{
    min-height: 100%;
    padding: 20px;
}
.textfield1{
    border-radius: 1px;
    font-size: 13px;
    height: 25px;
    padding-top: 1px;
    padding-right: 8px;
    padding-bottom: 1px;
    padding-left: 8px;
}
.textfield1 > .form-control{
    margin: 10px;
    width: 600px;
}